<section id="about">
	<div id="photo-wrapper">
		<img class="photo main" src="../compass/images/profile/alex0.png">
		<img class="photo sub" src="../compass/images/profile/alex1.png">
		<img class="photo bauer" src="../compass/images/profile/bauer1.png">
	</div>

	<div id="intro">
		<span id="helloWorld">Hello, World!</span>
		<span id="iAm">I am Alex Hwang.</span>
		<div id="titles">
			<span class="line">Full-stack Web Developer</span>
			<span class="line">Critical Thinker</span>
			<span class="line">Problem Solver</span>
		</div>
		<div id="resource">
			<a href="http://www.yalexhwang.com/alex_hwang_resume.pdf"><img class="link" src="../compass/images/resume0.png"></a>
			<a href="http://www.linkedin.com/in/yalexhwang"><img class="link" src="../compass/images/linkedin-blk.png"></a>
			<a href="http://www.github.com/yalexhwang"><img class="link" src="../compass/images/github.png"></a>
		</div>
		<div id="content">
			<p>I am originally from Seoul, Korea. I studied Sociology and Japanese at Emory University and started my career in project management. I eventually found coding to be my way to connect with the world and chose to pursue it. </p>
			<p>I recently graduated from <i><a href="http://www.digitalcrafts.com">DigitalCrafts'</a> 16 week Immersive Web Development program</i> and starting a new phase of life as a web developer. </p>
			<p>I like logic, systems, and abstraction. I enjoy asking questions and sharing new ideas. I currently live with Bauer, a 5 year old Giant Schnauzer mix, in Atlanta, Georgia.</p>
		</div>
		<div id="contact">
			<div>Thank you for your interest.</div>
			<form action="mail.php" method="POST">      
  			<input name="name" type="text" class="contact-input" placeholder="Name" name="name">   
  			<input name="email" type="email" class="contact-input" placeholder="E-mail" name="email">
  			<textarea name="text" class="contact-input" placeholder="Comment" name="body"></textarea>
  			<button type="submit">Send</button>
			</form>
		</div>
	</div>
	
</section>