<section id="about">
	<div id="photo-wrapper">
		<img class="{{photo.class}}" src="{{photo.url}}" ng-repeat="photo in photoArr track by $index" ng-mouseenter="popUp($index)" ng-mouseleave="popOff($index)" ng-class="{'face': faceOn}"></div>
	
	</div>

	<div id="intro">
		<div id="greeting">
			<span>Hello, World!</span>
			<span>I am Alex Hwang.</span>
		</div>
		<div id="titles">
			<span>Full-stack Web Developer</span>
			<span>Critical Thinker</span>
			<span>Problem Solver</span>
		</div>
		<div id="resource">
			<a href="http://www.yalexhwang.com/alex_hwang_resume.pdf"><img class="link" src="../compass/images/icon/resume.png"></a>
			<a href="http://www.linkedin.com/in/yalexhwang"><img class="link" src="../compass/images/icon/linkedin.jpg"></a>
			<a href="http://www.github.com/yalexhwang"><img class="link" src="../compass/images/icon/github.png"></a>
		</div>
		<div id="content">
			<p>I am originally from Seoul, Korea. I studied Sociology and Japanese at Emory University and started my career in project management. I eventually found coding to be my way to connect with the world and chose to pursue it. </p>
			<p>I recently graduated from <i><a href="http://www.digitalcrafts.com">DigitalCrafts'</a> 16 week Immersive Web Development program</i> and starting a new phase of life as a web developer. </p>
			<p>I like logic, systems, and abstraction. I enjoy asking questions and sharing new ideas. I currently live with Bauer, a 5 year old Giant Schnauzer mix, in Atlanta, Georgia.</p>
			<div id="email">
				<a href="mailto:y.alex.hwang@gmail.com">y.alex.hwang@gmail.com</a>
			</div>
		</div>

		<!-- <div id="contact">
			<div>Thank you for your interest.</div>
			<form action="mail.php" method="POST">      
  			<input type="text" class="contact-input" placeholder="Name" name="name">   
  			<input type="email" class="contact-input" placeholder="E-mail" name="email">
  			<textarea class="contact-input" placeholder="Comment" name="body"></textarea>
  			<button type="submit">Send</button>
			</form>
		</div> -->
	</div>
	
</section>