<section id="projects">
	<div id="preview-wrapper">
		<div class="prj-preview">
			<div class="image image-1">
				<!-- <span class="link">(Live)</span> -->
				<span class="link"><a href="https://github.com/yalexhwang/mini_city">Git</a></span>
			</div>
			<div class="title"><a href="#mini" du-smooth-scroll>{{mini_city}}</a></div>
		</div>
		<div class="prj-preview">
			<div class="image image-2">
				<span class="link"><a href="https://www.yalexhwang.com/hydrosource">Live</a></span>
				<span class="link"><a href="https://github.com/yalexhwang/hydrosource">Git</a></span>
			</div>
			<div class="title"><a href="#hydro" du-smooth-scroll>{{hydrosource}}</a></div>
		</div>
		<div class="prj-preview">
			<div class="image image-3">
				<span class="link"><a href="https://www.yalexhwang.com/marti_study_room">Live</a></span>
				<span class="link"><a href="https://github.com/yalexhwang/Marti-vocab-study">Git</a></span>
			</div>
			<div class="title"><a href="#marti" du-smooth-scroll>{{marti}}</a></div>
		</div>
	</div>


	<div class="project" id="mini">
		<div class="project-thumbnail">
			<img class="image" src="../compass/images/goodie1.png">
			<img class="image" src="../compass/images/goodie2.png">
		</div>
		<div class="project-info">
			<div class="info-title">
				<h2>Mini City</h2>
				<span>1st Place at Goodie Nation Hackathon | NFC Tag Based Data Management Portal | Python and MySQL</span>
				<!-- test username: test -->
				<!-- test password: 1111111111 -->
			</div>

			<div class="info-tech">
				<span class="tech-tag lng">HTML5</span>
				<span class="tech-tag lng">CSS</span>
				<span class="tech-tag ext">Compass/SASS</span>
				<span class="tech-tag frm">BootStrap</span>
				<span class="tech-tag ext">Jinja 2</span>
				<span class="tech-tag lng">Python</span>
				<span class="tech-tag frm">Flask</span>
				<span class="tech-tag db">MySQL/Sequel Pro</span>
			</div>

			<div class="info-detail">
			
				<p>My team won first place at <a href="http://goodienation.org/events/atlanta/goodie-hack/goodie-hack-ecdev-atlanta-x-october-2016/">the Goodie Hackathon</a> in the General category. We built the basic set-up for a data management portal for our client, Mini City, a non-profit organization based in Atlanta helping the homeless. Mini City wanted to provide services using Near Field Communication (NFC) tag based wearable devices and to manage data gathered from them.<br/>
				<span class="note">Work in progress: Currently updating the MVP from the Hackathon for my final project at DigitalCrafts</span></p>
					
				<h3>What I Learned</h3>

				<div class="summary">
					<p><span class="subtitle">NFC</span> Gained familiarity in NFC technology and its application in mobile devices. Created a NFC tag writer which generates and assigns a serial number to a new NFC tag when scanned. <br/></p>
				</div>
				<div class="summary">
					<p><span class="subtitle">Passenger and Python WSGI</span> I deployed the web app using Phusion Passenger to a Dreamhost server the Hackathon had set up for each team. <br/></p>
				</div>

				<h3>Problems Encountered and Solved</h3>

				<div class="summary">
					<p><span class="subtitle">Working with real-life clients</span> Working with Mini City gave me a glimpse of what it is like to work with real-life clients. Figuring out their needs and turning them into feasible technological concepts and developmental process was challenging, but nonetheless enjoyable. This experience has expanded my understanding of web development beyond mere technical aspects. It was an invaluable practice to address clients’ business needs and to come up with a feasible solution both from the technical and business perspectives.</p>
				</div>
			</div>
			<div class="toTop"><a href="#/#title" du-smooth-scroll><img src="../compass/images/top-icon.png"></a></div>
		</div>

	</div>
	<div class="project" id="hydro">
		<div class="project-thumbnail">
			<img class="image" src="../compass/images/hydrosource1.png">
			<img class="image" src="../compass/images/hydrosource2.png">
			<img class="image" src="../compass/images/hydrosource3.png">
			<img class="image" src="../compass/images/hydrosource4.png">
		</div>
		<div class="project-info">
			<div class="info-title">
				<h2>HydroSource</h2>
				<span>eCommerce Website | MVC Single Page Application | MEAN stack</span>
				<!-- test username: test -->
				<!-- test password: 1111111111 -->
			</div>

			<div class="info-tech">
				<span class="tech-tag lng">HTML5</span>
				<span class="tech-tag lng">CSS</span>
				<span class="tech-tag ext">Compass/SASS</span>
				<span class="tech-tag frm">BootStrap</span>
				<span class="tech-tag ext">UI Bootstrap</span>
				<span class="tech-tag lng">JavaScript</span>
				<span class="tech-tag frm">Angular.js</span>
				<span class="tech-tag frm">Node.js</span>
				<span class="tech-tag frm">Express.js</span>
				<span class="tech-tag db">MongoDB/Mongoose</span>
			</div>

			<div class="info-detail">
				<span class="note">Test with username <i>test</i>, password <i>1111111111</i></span><br/>
				<p>HydroSource is an eCommerce website for a (fake) water subscription service. A unique feature is Water Intake Calculator, which takes a user's body weight and hydration level of choice, and calculates the ideal amount of daily water intake. Based on the daily intake and delivery frequency of choice, total water supply for each delivery is determined. It is displayed in Store and Cart on a progress bar, to aid a user's shopping experience.</p>
					
				<h3>What I Learned</h3>

				<div class="summary">
					<p><span class="subtitle">bcrypt (npm)</span> I used a Node.js library to hash a password before saving it in the database.I learned the basic concept of bcrypt, how to read a shadow password (prefix for bcrypt hash, cost parameter, salt and hash). <br/></p>
				</div>
				<div class="summary">
					<p><span class="subtitle">rand-token (npm)</span> Another Node.js library I used. A random token is generated when a user signs in, and is removed at sign out.<br/></p>
				</div>
				<div class="summary">
					<p><span class="subtitle">Authentication Cookies</span>As a user, sign in/out status used to feel as if it was a distinct state, like on and off. While implementing it, I realized it was rather a set of actions that is initiated by one time verification of username and password, followed by creation of a token, which is used for repeated verifications on every page access (or route change, to be precise). Use of cookies is essential in the process, for it allows a token to be stored and be accessible throughout the website. Although it was technically simple implementation, it was intriguing to experience a change in the concept of sign in/out - a perspective shift from a user's to a developer's side.</p>
				</div>
				<div class="summary">
					<p><span class="subtitle">Stripe (API)</span>Stripe is an online payment software platform. I used Stripe's Node.js library to process payment.</p>
				</div>	

				<h3>Problems Encountered and Solved</h3>

				<div class="summary">
					<p><span class="subtitle">Use of ng-show/ng-hide in navigation menu items</span>It was an architectural problem in using Angular router. I used ng-show/ng-hide to display or hide menu items depending on sign in/out status. The problem was that they were evaluated only once at the initial page load. To solve the problem, I added a run block <code>.run()</code> with <code>$rootScope</code> and <code>$location </code>. A global variable <code>$rootScope.loggedIn</code> was used to indicate sign in/out status and <code>$locationChangeStart</code> to monitor route change.</p>
				</div>

				<h3>Ideas for Future Implementation</h3>

				<div class="summary">
					<p><span class="subtitle">Order Confirmation E-mail</span> Create an automated email notification for orders completed <br/>
					<span class="subtitle">Token Expiration</span> Detect a user's inactivity and remove the token to sign out the user </p>
				</div>	
			</div>
			<div class="toTop"><a href="#/#title" du-smooth-scroll><img src="../compass/images/top-icon.png"></a></div>
		</div>
	</div>
	<div class="project" id="marti">
		<div class="project-thumbnail">
			<img class="image" src="../compass/images/sc1.png">
			<img class="image" src="../compass/images/sc2.png">
			<img class="image" src="../compass/images/sc3.png">
		</div>
		<div class="project-info">
			<div class="info-title">
				<h2>Marti's Study Room</h2>
				<span>Korean Vocaburary Study Web App | MVC Single Page Application</span>
			</div>
			<div class="info-tech">
				<span class="tech-tag lng">HTML5</span>
				<span class="tech-tag lng">CSS</span>
				<span class="tech-tag lng">JavaScript</span>
				<span class="tech-tag frm">Angular.js</span>
				<span class="tech-tag frm">Node.js</span>
				<!-- <span class="tech-tag frm">Express.js</span> -->
				<!-- <span class="tech-tag db">MongoDB/Mongoose</span> -->
			</div>

			<div class="info-detail">
				
				<p>Marti's Study Room is a web application that I created for a student I tutor. She wants to get tested on her vocabulary on a regular basis. Instead of writing a quiz each session, I wanted to automate the process so that she can take the quiz whenever she wants.<br/> <span class="note">Work in progress: planning to implement a database connection</span></p>
					
				<h3>What I Learned</h3>

				<div class="summary">
					<p><span class="subtitle">Foreign Language Characters</span> When I was working locally, Korean characters were broken, looking like a gibberish. When I served it up on Node.js, they started to display correctly. Researching why, I learned that there were different types of encoding, depending on the language's character sets. I understand why UTF-8, not ASCII, is now widely used. Node.js natively supports UTF-8 encoding, which was why Korean characters were displayed correctly once served up by Node.js. I also added <code>&lt;meta charset="UTF-8"&gt;</code> to make sure web browsers correctly encode my scripts.</p>
				</div>

				<h3>Problems Encountered and Solved</h3>

				<div class="summary">
					<p><span class="subtitle">Logic for generating quiz problems and answer options</span> t was more complicated than I initially thought to write a program that randomly selects a word and pairs it with the answer options, only one of which is the correct answer, and track each one of them. It was when I did not know how to use a database; I simply had a <code>.json</code> file that contained vocabulary as an object. I ended up using multiple arrays to temporarily store different groups of words (e.g., problems, correct answer options, incorrect answer options). I am planning to connect a database with a schema, which will help simplify the process of generating quiz questions.</p>
				</div>
			</div>
			<div class="toTop"><a href="#/#title"  du-smooth-scroll><img src="../compass/images/top-icon.png"></a></div>
		</div>
	</div>

	<!-- <div class="project">
		<div class="project-thumbnail">
			<img src="http://placehold.it/250x210">
		</div>
		<div class="project-info">
			<div class="info-title">
				<h2>Find Your Festival</h2>
				<span>One-stop Search Web App for music festivals | MVC Single Page Application</span>
			</div>
			<div class="info-tech">
				<span class="tech-tag lng">HTML5</span>
				<span class="tech-tag lng">CSS</span>
				<span class="tech-tag lng">JavaScript</span>
				<span class="tech-tag frm">Angular.js</span>
				<span class="tech-tag frm">Node.js</span>
				<span class="tech-tag frm">Express.js</span>
				<span class="tech-tag db">MongoDB/Mongoose</span>
			</div>

			<div class="info-detail">
				<p>Find Your Festival is an one-stop solution for festival-goers who want to decide which music festival(s) to attend. A user provides search criteria and Find Your Festival returns matches with extimated cost, or even a complete itinerary. It also comes with options to buy a ticket and book a flight or a hotel.</p>
					
				<h3>What I learned</h3>

				<div class="summary">
					<p><span class="subtitle">TicketMaster (API)</span>Nulla placerat venenatis purus, eget malesuada neque pharetra nec. Cras ut quam vel sem elementum eleifend. Cras porta quam eu massa blandit, sit amet vulputate augue blandit. Etiam fringilla sed nisi at bibendum. Sed commodo commodo arcu id vulputate. Aenean eget sodales quam.<br/></p>
				</div>
				<div class="summary">
					<p><span class="subtitle">Google Map (API)</span>Nulla placerat venenatis purus, eget malesuada neque pharetra nec. Cras ut quam vel sem elementum eleifend. Cras porta quam eu massa blandit, sit amet vulputate augue blandit. Etiam fringilla sed nisi at bibendum. Sed commodo commodo arcu id vulputate. Aenean eget sodales quam.<br/></p>
				</div>
				<div class="summary">
					<p><span class="subtitle">Open Weather (API)</span>Nulla placerat venenatis purus, eget malesuada neque pharetra nec. Cras ut quam vel sem elementum eleifend. Cras porta quam eu massa blandit, sit amet vulputate augue blandit. Etiam fringilla sed nisi at bibendum. Sed commodo commodo arcu id vulputate. Aenean eget sodales quam.<br/></p>
				</div>

				<h3>Problems Encountered and Solved</h3>

				<div class="summary">
					<p><span class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>Donec ut turpis et nunc ultricies mollis non sed mi. Nulla eget velit gravida, bibendum nulla eget, feugiat dui. Etiam volutpat enim est, et tempor nulla facilisis id. Mauris fermentum in nisl nec interdum. Sed urna tellus, hendrerit ac bibendum ut, maximus ac risus. Duis mattis aliquam ante, at fermentum urna molestie quis. Pellentesque facilisis ante quis odio posuere, vitae condimentum leo commodo. In leo quam, ultricies eget metus at, tincidunt auctor elit. Nam eu nisl nec tellus pellentesque imperdiet. Cras ultrices tortor sed erat condimentum venenatis. Suspendisse dui nulla, ultrices eu risus id, rhoncus laoreet nisl. Morbi quis metus urna. Nam nec ex vulputate, consequat ante luctus, dapibus augue.</p>
				</div>
			</div>
		</div>
	</div> -->

	<!-- <div class="project">
		<div class="project-thumbnail">
			<img src="http://placehold.it/250x210">
		</div>
		<div class="project-info">
			<div class="info-title">
				<h2>BuZz For Bees</h2>
				<span>Twitter-formatted Website | Python with Flask, Jinja2 | MySQL </span>
			</div>
			<div class="info-tech">
				<span class="tech-tag lng">HTML5</span>
				<span class="tech-tag lng">CSS</span>
				<span class="tech-tag ext">Compass/SASS</span>
				<span class="tech-tag frm">BootStrap</span>
				<span class="tech-tag lng">JavaScript</span>
				<span class="tech-tag ext">jQuery</span>
				<span class="tech-tag ext">Jinja 2</span>
				<span class="tech-tag lng">Python</span>
				<span class="tech-tag frm">Flask</span>
				<span class="tech-tag db">MySQL/Sequel Pro</span>
			</div>

			<div class="info-detail">
				<p>BuZzer For Bees is a Twitter clone, for people who support saving bees.</p>
					
				<h3>What I learned</h3>

				<div class="summary">
					<p><span class="subtitle">jsonify/json.dumps</span>Donec aliquet posuere ipsum, non eleifend nisl pulvinar vitae. Quisque ut urna quis ante hendrerit efficitur quis ut nisl. Nam viverra nulla vel mollis finibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse aliquam odio mi, a blandit nunc ultricies commodo. Curabitur sed dapibus libero. Ut metus ante, sagittis ac placerat eu, laoreet ut orci. Morbi ac felis at lacus viverra mollis. Ut quis nibh ac quam tristique molestie. <br/></p>
				</div>

				<h3>Problems Encountered and Solved</h3>

				<div class="summary">
					<p><span class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>Donec ut turpis et nunc ultricies mollis non sed mi. Nulla eget velit gravida, bibendum nulla eget, feugiat dui. Etiam volutpat enim est, et tempor nulla facilisis id. Mauris fermentum in nisl nec interdum. Sed urna tellus, hendrerit ac bibendum ut, maximus ac risus. Duis mattis aliquam ante, at fermentum urna molestie quis. Pellentesque facilisis ante quis odio posuere, vitae condimentum leo commodo. In leo quam, ultricies eget metus at, tincidunt auctor elit. Nam eu nisl nec tellus pellentesque imperdiet. Cras ultrices tortor sed erat condimentum venenatis. Suspendisse dui nulla, ultrices eu risus id, rhoncus laoreet nisl. Morbi quis metus urna. Nam nec ex vulputate, consequat ante luctus, dapibus augue.

</p>
				</div>
			</div>
		</div>
	</div> -->
	
</section>	