<section id="skills">
	<div id="photo-wrapper">
		<div id="myPhoto">
			<div id="mySkills">
				<span class="{{item.class}}" ng-click="answer($index)" ng-repeat="item in skillsArr track by $index">{{item.name}}</span>
			</div>
			<div id="mySign">
				<span class="message-board" ng-hide="msgOn">
					<span class="message">
						<img class="quote" src="../compass/images/profile/quote1.png">{{defaultMsg}}<img class="quote" src="../compass/images/profile/quote2.png">
					</span>
				</span>
				<span class="message-board" ng-repeat="msg in msgArr track by $index" ng-show="$index == selectedMsg">
					<span class="message">
						<img class="quote" src="../compass/images/profile/quote1.png">{{message}}<img class="quote" src="../compass/images/profile/quote2.png">
					</span>
				</span>
			</div>
		</div>
	</div>
</section>