<section id="skills">

	On top of the basics, such as HTML5, CSS, and JavaScript, I have the most experience with the MEAN stack: MongoDB, Express.js, Angular.js, and Node.js. 

	When working with CSS, I usually use Compass (SASS based) because it allows nesting, variables, mixins and selector inheritence. It is easier to organize and maintin stylesheets. It saves me time (and headache). 

	I also like using Bootstrap to take advantage of its default CSS settings and compoments. HTML elements, such as input, form, button, and table, are just prettier with Bootstrap. 

	Although Bootstrap's reponsive utilities are useful, once I learned about Flexbox, CSS3's new layout mode, it has replaced Bootstrap's 'col-*-'s as my go-to method of creating a fully responsive application.

	I love Angular. When I first learned to use Angular, it was such a drastic change, it almost felt like when you go from the Stone Age to the Iron Age in Age of Empires 2. I have built a few single page applications with Angular (including this portfolio). One thing with Angular that I did not quite like was that it is not an ideal match with Bootstrap, (because its 'live' actions are based on jQuery plugins), but there is a decent alternative, UI Bootstrap. UI Router is awesome too, for allowing me to have more than one view and even nest them as I wish. 

	Python, who doesn't love Python? I like how simple the syntax is. It looks clean, makes code aesthetically more pleasing to my eyes. I don't have to worry about balancing braces, as long as I keep indentation properly.
	With Flask, it is so simple to get the basic set up started to build an web applicaiton. 

	Express/Node

	jQuery
	Vanilla JS

	MongoDB

	MySQL

	Git

	AWS
	Ubuntu?

	Shell/terminal/bash

	APIs
	AJAX
	
	<span class="skill lng">HTML</span>
	<span class="skill lng">CSS</span> 
	<span class="skill ext">SASS/Compass</span>
	<span class="skill frm">Bootstrap</span>
	<span class="skill ext">UI Bootstrap</span>
	<span class="skill lng">JavaScript</span>
	<span class="skill ext">jQuery</span>
	<span class="skill frm">AngularJS</span>
	<span class="skill frm">ExpressJS</span>
	<span class="skill frm">NodeJS</span> 
	<span class="skill lng">Python</span>
	<span class="skill frm">Flask</span>
	<span class="skill db">MySQL</span>
	<span class="skill db">MongoDB/Mongoose</span>
	<span class="skill other">AJAX</span>
	<span class="skill other">APIs</span>

 
</section>