<section id="skills">

<!-- <canvas id="canvas" style="border:1px solid #000000;"></canvas> -->

	<span class="skill lng">HTML</span>
	<span class="skill lng">CSS</span> 
	<span class="skill ext">SASS/Compass</span>
	<span class="skill frm">Bootstrap</span>
	<span class="skill ext">UI Bootstrap</span>
	<span class="skill lng">JavaScript</span>
	<span class="skill ext">jQuery</span>
	<span class="skill frm">AngularJS</span>
	<span class="skill frm">ExpressJS</span>
	<span class="skill frm">NodeJS</span> 
	<span class="skill lng">Python</span>
	<span class="skill frm">Flask</span>
	<span class="skill db">MySQL</span>
	<span class="skill db">MongoDB/Mongoose</span>
	<span class="skill other">AJAX</span>
	<span class="skill other">APIs</span>

</section>